{
  "presets": [
    "es2015",
    "react",
    "react-hmre",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ],
  "env": {
    "start": {
      "presets": [

      ]
    },
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
