// import
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


body {
  background-color: $backbase;
  color: $foreground;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  text-align: center;

  @media (max-width: 649px) {
    padding-bottom: 50px;
    padding-top: 150px;
  }

  menu,
  ul,
  ol {
    padding: 0;
  }
}
