// colors
$foreground: #e7e7e7;
$backbase: #3d4247;
$items: #23272c;
$active: #282d33;
$button: #4f565f;
$black: #000;
$header: rgba(34, 38, 43, .5);
$course: #afafdf;
$workshop: #a476e6;

// padding and margins
$headpad: 15px;
$itemmar: 10px;
$itemheight: 100px;

// path colors
$blender: #117ab0;
$concept: #62cd17;
$sculpt: #e96252;
$unity: #a533a6;
