@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0 0;
}

body {
  color: #e7e7e7;
  background-color: #3D4247;
  margin: 0;
  text-align: center;
}

h1 {
  color: #e7e7e7;
  text-align: center;
  padding: 50px 20px;
}

ul {
  text-align: center;
}

.header {
  text-align: center;
  font-weight: bold;
  color: #e7e7e7;
  background-color: rgba(34, 38, 43, 0.5);
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer {
  padding-bottom: 50px;
}

.start {
  color: #e7e7e7;
  text-align: center;
  padding: 50px 20px;
}

/* Paths */

.pathitem, .listitem {
  display: inline-block;
  width: 90%;
  height: 100px;
  background-color: #23272c;
  transition: transform 1s, background 1.5s;
  text-align: center;
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 5px solid #23272c;
  box-shadow: inset 2px 2px black;
}

.pathname {
  display: inline-block;
  width: 80%;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.pathfocus {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.pathflow {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.pathcourses {
  display: inline-block;
  width: 100%;
  text-align: left;
}


/* Course List */

.coursename {
  display: inline-block;
  width: 80%;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.coursedesc {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.listshop {
  display: inline-block;
  width: 20%;
  font-size: 0.8em;
  text-align: right;
  color: #a476e6;
}

.listflow {
  display: inline-block;
  width: 20%;
  font-size: 0.8em;
  text-align: right;
}

.listcourse {
  display: inline-block;
  width: 20%;
  font-size: 0.8em;
  text-align: right;
  color: #AFAFDF;
}

.listcontainer {
  margin: 20px 20px;
  vertical-align: center;
}

.listitem:hover {
  transform: scale(1.02,1.02);
  background-color: #23282d;
}

.pathitem:hover {
  transform: scale(1.02,1.02);
  background-color: #23282d;
}

.coursewell {
  display: none;
  background-color: #23272c;
  border-radius: 50% 50%;
  text-align: left;
  min-height: 40px;
  width: 5%;
  margin-right: 5%;
  padding-top: 20px;
}

.courseitem {

  text-align: left;
}

/* Links */

a {
  color: #e7e7e7;
}

a:hover {
  color: #e7e7e7;
}

a:active {
  background-color: #282d33;
}

/* Buttons */

.button {
  background-color: #23272c;
  border: none;
  color: #e7e7e7;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  width: 150px;
}

.button .active {
  background-color: #282d33;
}

.button:focus {
  outline: 0px;
}

.button:hover {
  background-color: #4f565f;
}

.button:active {
  background-color: #4f565f;
}

.blender-button {
  border-bottom: 5px solid #117ab0;
}

.concept-button {
  border-bottom: 5px solid #62cd17;
}

.sculpt-button {
  border-bottom: 5px solid #e96252;
}

.unity-button {
  border-bottom: 5px solid #a533a6;
}

/* Media Queries */

@media (min-width: 1159px) {
  .listitem, .pathitem {
    max-width: 800px;
  }

  .coursewell {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (max-width: 649px) {
  .listitem, .pathitem {
    max-width: 600px;
  }
  .listitem, .pathitem, .pathflow, .pathfocus, .pathname, .coursename, .courseflow, .coursedesc {
    text-align: center;
    width: 100%;
    font-size: 1em;
  }
  .listcontainer {
    height: 250px;
  }
  .coursewell {
    display: none;
  }
}
